
service:
  name: sample-app

plugins:
  - serverless-domain-manager
  - serverless-nuxt/plugin

resources:
  Resources:
    AssetsBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.nuxt.bucketName}
        CorsConfiguration:
          CorsRules:
            - AllowedMethods:
              - GET
              - HEAD
              AllowedOrigins:
              - "*"

provider:
  name: aws
  stage: ${opt:stage, 'dev'}
  runtime: nodejs8.10
  region: ${env:AWS_DEFAULT_REGION, 'us-east-1'}
  environment:
    TZ: Asia/Seoul

custom:
  nuxt:
    version: v0.0.1
    bucketName: ${self:provider.stage}-js2019-sample
  customDomain:
    domainName: sample.dist.be
    certificateName: sample.dist.be
    createRoute53Record: true
    endpointType: regional

functions:
  nuxt:
    handler: entry.nuxt
    events:
      - http: ANY /
      - http: ANY /{proxy+}
